services:
  bunnypen:
    build: .
    container_name: bunnytransmission
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun

    environment:
      - USE_VPN=${USE_VPN:-true}
      - APP=${APP:-transmission}
      - MULLVAD_COUNTRY=${MULLVAD_COUNTRY}
      - MULLVAD_CITY=${MULLVAD_CITY}
      - LOCAL_NETWORK=${LOCAL_NETWORK}
      - PUID=${PUID:-1000}
      - PGID=${PGID:-100}
      - TZ=${TZ:-America/Los_Angeles}
      - TRANSMISSION_RPC_USERNAME=${TRANSMISSION_RPC_USERNAME}
      - TRANSMISSION_RPC_PASSWORD=${TRANSMISSION_RPC_PASSWORD}

    volumes:
      - ./data:/data
      - ./config:/config
      - ./config/wireguard:/config/wireguard
    ports:
      - "9091:9091" # Transmission WebUI
      - "8080:8080" # qBittorrent WebUI

    restart: unless-stopped

    healthcheck:
      test: [ "CMD", "/usr/local/bin/healthcheck.sh" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
